{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Login{% endblock %}

{% block content %} 

<div class="col-md-4">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label" for="id_username">Usuário:</label>
            <input type="text" name="username" class="form-control" id="id_username" required>
        </div>
        
        <div class="mb-3">
            <label class="form-label" for="id_password">Senha:</label>
            <input type="password" name="password" class="form-control" id="id_password" required>
        </div>

        <button class="btn btn-info" type="submit">Entrar</button>
    </form>
    
    <a href="{% url 'password_reset' %}">Esqueci minha senha</a>
</div>

{% endblock %}
