{% extends "base.html" %}
{% load static %}

{% block title %}Listagem de Empréstimos{% endblock %}

{% block content %}
    <div class="container mt-5">
    <h1>Empréstimos</h1>

    <div class="p-3 mb-4 bg-light border rounded">
        <form method="GET" action="{% url 'filtros_emprestimos' %}">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="nome_livro" class="form-label">Nome do Livro</label>
                    <input type="text" class="form-control" id="nome_livro" name="nome_livro" placeholder="Pesquisar por nome do livro" value="{{ request.GET.nome_livro }}">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="status" class="form-label">Status</label>
                    <select class="form-select" id="status" name="status">
                        <option value="">Todos</option>
                        <option value="Emprestado" {% if request.GET.status == "Emprestado" %}selected{% endif %}>Emprestado</option>
                        <option value="Em análise" {% if request.GET.status == "Em análise" %}selected{% endif %}>Em análise</option>
                        <option value="Recusado" {% if request.GET.status == "Recusado" %}selected{% endif %}>Recusado</option>
                        <option value="Finalizado" {% if request.GET.status == "Finalizado" %}selected{% endif %}>Finalizado</option>
                    </select>
                </div>
                {% if user.is_superuser %}
                <div class="col-md-4 mb-3">
                    <label for="usuario" class="form-label">Usuário</label>
                    <select class="form-select" id="usuario" name="usuario">
                        <option value="">Todos</option>
                        {% for usuario in usuarios %}
                            <option value="{{ usuario.id }}" {% if request.GET.usuario == usuario.id|stringformat:"s" %}selected{% endif %}>{{ usuario.username }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary"><i class="bi bi-funnel"></i>Filtrar</button>
        </form>
    </div>
    <div class="d-flex justify-content-between">
        <p>Exibindo {{ emprestimos|length }} de {{ emprestimos.paginator.count }} emprestimo</p>
    </div>

    {% if emprestimos %}
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>Capa</th>
                    <th>Nome do Livro</th>
                    <th>Status</th>
                    <th>Data de Empréstimo</th>
                    <th>Data de Devolução</th>
                    {% if user.is_superuser %}
                    <th>Usuário</th>
                    {% endif %}
                    <th>Data Prevista de Devolução</th>
                    <th>Devolver Livro</th>
                    {% if user.is_superuser %}
                    <th>Gerenciar</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for emprestimo in emprestimos %}
                    <tr>
                        <td>
                            {% if emprestimo.livro.capa %}
                                <img src="{{ emprestimo.livro.capa.url }}" alt="Capa do Livro" width="50" height="75">
                            {% else %}
                                <span>Sem capa</span>
                            {% endif %}
                        <td>{{ emprestimo.livro.titulo }}</td>
                        <td>{{ emprestimo.status }}</td>
                        <td>{{ emprestimo.data_emprestimo }}</td>
                        <td>
                            {% if emprestimo.data_devolucao %}
                                {{ emprestimo.data_devolucao }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        {% if user.is_superuser %}
                        <td>{{ emprestimo.usuario }}</td>
                        {% endif %}
                        <td>{{ emprestimo.data_prevista_devolucao }}</td>
                        <td class="text-center">
                            {% if emprestimo.status == 'Emprestado' %}
                                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#devolverModal{{ emprestimo.id }}"><i class="bi bi-arrow-90deg-up"></i></button>
                                <div class="modal fade" id="devolverModal{{ emprestimo.id }}" tabindex="-1" aria-labelledby="devolverModalLabel{{ emprestimo.id }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="devolverModalLabel{{ emprestimo.id }}">Devolver Livro</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form method="POST" action="{% url 'devolver_livro' %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="emprestimo_id" value="{{ emprestimo.id }}">
                                                    
                                                    <div class="mb-3">
                                                        <label for="observacao{{ emprestimo.id }}" class="form-label">Observações</label>
                                                        <textarea class="form-control" id="observacao{{ emprestimo.id }}" name="observacao" rows="3"></textarea>
                                                    </div>
                                                    
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                        <button type="submit" class="btn btn-primary">Confirmar Devolução</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </td>
                        {% if user.is_superuser %}
                        <td>
                            {% if emprestimo.status == 'Em análise' %}
                                <form method="POST" action="{% url 'aprovar_emprestimo' %}" style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="emprestimo_id" value="{{ emprestimo.id }}">
                                    <button type="submit" class="btn btn-success btn-sm"data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Aprovar Empréstimo"><i class="bi bi-check-lg"></i></button>
                                </form>
                                <form method="POST" action="{% url 'recusar_emprestimo' %}" style="display: inline;">
                                    {% csrf_token %}
                                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modal{{ emprestimo.id }}"><i class="bi bi-dash-circle-dotted"></i></button>
                                    <div class="modal fade" id="modal{{ emprestimo.id }}" tabindex="-1" aria-labelledby="modal{{ emprestimo.id }}Label" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modal{{ emprestimo.id }}Label">Recusar Empréstimo</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Tem certeza que deseja recusar o empréstimo?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                    <form method="POST" action="{% url 'recusar_emprestimo' %}" style="display: inline;">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="emprestimo_id" value="{{ emprestimo.id }}">
                                                        <button type="submit" class="btn btn-danger">Recusar</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nenhum empréstimo cadastrado</p>
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    
    {% if user.is_superuser %}
    <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'cadastro_emprestimo' %}';">Cadastrar Empréstimo</button>
    {% endif %}
    </div>
{% endblock %}
