{% extends "base.html" %}
{% load static %}

{% block title %}Listagem de Empréstimos{% endblock %}

{% block content %}

    
    <h1>Empréstimos</h1>
    <br>

    {% if emprestimos %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome do Livro</th>
                    <th>Status</th>
                    <th>Data de Empréstimo</th>
                    <th>Data de Devolução</th>
                    <th>Usuário</th>
                    <th>Data Prevista de Devolução</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for emprestimo in emprestimos %}
                    <tr>
                        <td>{{ emprestimo.livro.titulo }}</td>
                        <td>{{ emprestimo.status }}</td>
                        <td>{{ emprestimo.data_emprestimo }}</td>
                        <td>
                            {% if emprestimo.data_devolucao %}
                                {{ emprestimo.data_devolucao }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>{{ emprestimo.usuario }}</td>
                        <td>{{ emprestimo.data_prevista_devolucao }}</td>
                        <td>
                            {% if emprestimo.status == 'Emprestado' %}
                                <form method="POST" action="{% url 'devolver_livro' %}" style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="emprestimo_id" value="{{ emprestimo.id }}">
                                    <button type="submit" class="btn btn-primary btn-sm">Devolver</button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nenhum empréstimo cadastrado</p>
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'cadastro_emprestimo' %}';">Cadastrar Empréstimo</button>
{% endblock %}
