{% extends "base.html" %}

{% load static %}

{% block title %}Listagem de Livros{% endblock %}

{% block content %} 

<div class="container mt-5">
    <h1>Livros</h1>
    
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th scope="col">Capa</th>
                <th scope="col">Título</th>
                <th scope="col">Autor</th>
                <th scope="col">Editora</th>
                <th scope="col">Ano de Lançamento</th>
                <th scope="col">Ação</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for livro in livros %}
            <tr>
                <td>
                    {% if livro.capa %}
                        <img src="{{ livro.capa.url }}" alt="Capa do Livro" width="50" height="75">
                    {% else %}
                        <span>Sem capa</span>
                    {% endif %}
                </td>
                <td>{{ livro.titulo }}</td>
                <td>{{ livro.autor }}</td>
                <td>{{ livro.editora }}</td>
                <td>{{ livro.ano_publicacao }}</td>
                <td>
                    <form method="POST" action="{% url 'solicitar_emprestimo' %}" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="livro_id" value="{{ livro.id }}">
                        <button type="submit" class="btn btn-success btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Solicitar Empréstimo"><i class="bi bi-bookmark-plus"></i></i></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% if not livros %}
        <p>Nenhum livro cadastrado</p>
    {% endif %}
    
    {% if user.is_superuser %}
    <a href="{% url 'cadastro_livro' %}" class="btn btn-success btn-sm">
        <i class="bi bi-plus-lg"></i> Cadastrar livro
    </a>
    {% endif %}
</div>

{% endblock %}
